.about-header-outer {
    display: flex;
    gap: 100px;
}

@media only screen and (max-width: 1224px) {
    .about-header-outer {
        flex-direction: column;
    }
}


.about-header-outer p {
    margin-top: 1.5em;
}

.about-image-section {
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 320px;
}

.about-text-section {
    flex: 1;
}

.about-image-section img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.about-graphic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-graphic svg {
    width: 100%;
}

.about-footer-text {
    margin-top: 3em;
    margin-bottom: 3em;
}

.about-footer-text-bottom {
    margin-top: 3em;
    margin-bottom: 3em;
}

@media only screen and (max-width: 1224px) {
    .about-graphic svg {
        height: 300px!important;
    }
}